<!DOCTYPE html>
<html>

<head>
    <title>Search Spotify with Vue JS</title>
    <meta charset="utf-8" />
    <link type="text/css" href="spotifyvue.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <div id=appContainer>
        <div id="wrapper">
            <h1>Search Spotify with Vue JS</h1>

            <div>
                <search-box :get-search-result="getSearchResult"></search-box>
                <search-top :search-result="searchResult" :get-track-data="getTrackData" :get-artist-data="getArtistData" :offset="offset"></search-top>
                <search-pager :get-search-result="getSearchResult" :total="total" :offset="offset"></search-pager>
                <search-result :search-result="searchResult" :get-artist-data="getArtistData" :get-track-data="getTrackData" :offset="offset"></search-result>
                <search-pager :get-search-result="getSearchResult" :total="total" :offset="offset"></search-pager>
                <artist-modal v-if="modalartist" :artist-data="artistData" :close-modal="closeModal"></artist-modal>
                <track-modal v-if="modaltrack" :track-data="trackData" :close-modal="closeModal"></track-modal>
            </div>

            <div id="spinner" v-if="loading">
                <div class="closeSpinner" v-on:click="hideSpinner">×</div>
                <div id="spinnerText">Loading...</div>
            </div>
        </div>

        <div id="overlay" v-if="loading || modalOverlay" v-on:click="closeModal"></div>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-resource@1.2.0/dist/vue-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>